#about {
    background-color:$cyan;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    display:block;
    // display:flex;
    // flex-direction: column;
    overflow-y:scroll;
    color:white !important;

    .about-wrap {
        // background-image:url('/assets/about/background.svg');
        // background-size:cover;
        // background-position:center center;
        width:100vw;
        height:100vh;
        // border-radius:20px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:5rem;
        position:relative;

        .page-title {
            margin-bottom:-0.5rem;
        }

        .subtitle {
            font-size:$subtitle;
            font-weight:600;
            font-style:italic;
        }
    }

    .bottom-wave {
        position:absolute;
        bottom:0;
        width:100vw;

        path { fill: black;}
    }

    .scroll-arrow-wrap {
        position:absolute;
        bottom:5rem;
        left:calc(50% - 25px);
        width:50px;
        height:50px;
        padding:0.5rem;
        border-radius:100px;
        transition: all 0.5s ease-in-out;
        background-color:black;
        svg { color: white; }

        &:hover {
            background-color:$darkcyan !important;
        }
    }

    .moreinfo {
        height:auto;
        background-color:$darkcyan;
        width:100vw;
        padding-top:5rem;
        padding-bottom:10rem;

        .more-wrap {
            width:100vw;
            display:flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .desc { 
            margin:1rem 0;
            width:60vw;
            text-align: justify;

            @media screen and (max-width: $md) {
                width:100%;
                padding:2rem;
            }
        }

        .i-wrap {
            display:flex;
            width:60vw;

            @media screen and (max-width: $md) {
                width:100%;
                padding:2rem;
                flex-direction: column;
            }

            .vision, .mission {
                flex:1;
                margin: 0 1.5rem;
                text-align:center;

                .subsection-title {
                    font-size:$button;
                    text-transform: uppercase;
                    font-weight:600;
                }

                .quote {border:1px solid white;padding:1rem;margin:1rem 0;}

                .desc {
                    width:initial;

                    li { margin-bottom:0.5rem;}
                }
            }
        }
    }

    .reveal_next {
        background-color:$blue;

        &:hover {
            background-color:$indigo;
        }
    }
}