#explore {
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    .page-title {
        // margin-top:-7rem;
        margin-bottom:2rem;
    }
    .links-wrap {
        display:flex;
        justify-content: center;
        align-items: center;
        // width:100vw;
        flex:1;
        flex-wrap:wrap;

        .explore_link {
            width:28vw;
            // flex:1;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
            font-size:$button;
            font-weight:600;
            transition: all 0.5s ease-in-out;

            @media screen and (max-width: $md){
                width:100%;
            }

            &:hover {
                transform: translateY(-5%);
            }

            .cube, .link-title { 
                cursor:pointer; 
                text-align:center;
            }

            .cube svg{
                transform:scale(0.85);
                margin-bottom:-2rem;
            }
        }
    }

    .about-button{
        background-color:$cyan;
        width:20vw;
        min-width:200px;
        padding:0.7rem 2rem;
        padding-top:1rem;
        border-radius:25px;
        text-transform:uppercase;
        font-weight:600;
        font-size:calc($subtitle - 2px);
        text-align:center;
        cursor:pointer;
        display:flex;
        justify-content: center;
        align-items: center;
        line-height:1;

        svg { width: 2rem;margin-bottom:0.5rem;margin-right:0.7rem; }

        &:hover { background-color:$blue}

        &-wrap {
            display:flex;
            justify-content: center;
            width:100vw;
            margin-top:4rem;
        }
    }

}

.ko #explore .about-button {
    padding-top:0.7rem;line-height:initial;
    svg { margin-bottom:initial; }
}