#home {
    .container {
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    .hero {
        width:70vw;
        height:100vh;
        font-weight:300;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media screen and (max-width:$md){
            width:100vw;
        }


        .title {
            width:60vw;
            font-size:$title;
            line-height:1.1;
            font-weight:700;
            text-transform:uppercase;
            z-index:111;

            @media screen and (max-width:$md){
                width:100vw;
                font-size:calc($title - 5vmin);
            }
        }

        .subtitle {
            font-size:$subtitle;
            margin:1rem;
            margin-bottom:2rem;
            font-style:italic;
            z-index:111;

            @media screen and (max-width:$md){
                font-size:calc($subtitle - 1vmin);
            }
        }

        .button {
            line-height:1;
            font-weight:700;
            font-size:$button;
            background-color: $cyan;
            text-transform:uppercase;
            padding:0.5em 0.5em;
            min-width:300px;
            width:25vw;
            border-radius:100px;
            z-index:111;
            cursor:pointer;

            &:hover {
                background-color: $blue;
            }
        }
    }
}