body {
    font-style:normal;
    font-size:$body;
    word-break:keep-all;
    overflow:hidden;
    height:100%;
}

* {
    -ms-overflow-style: none;
    scrollbar-width:none;
    // scroll-behavior:smooth;
    &::-webkit-scrollbar {
        display: none;
    }
}

.en { font-family:"poppins", sans-serif; }
.ko { font-family:"SourceHanSansK", sans-serif; line-height:1.6;}

a {
    color: $cyan !important;

    &:hover {
        color: $blue !important;
    }
}

.page-title {
    font-size:$page-title;
    text-transform:uppercase;
    text-align:center;
    font-weight:700;
}

.section-title {
    font-size:$subsection;
    font-weight:700;
    line-height:initial;
    text-transform: uppercase;
}

.reveal_next {
    position:absolute;
    bottom:0;
    width:100%;
    padding:2rem;
    font-size:$button;
    font-weight:600;
    text-transform: uppercase;
    line-height:1;
    cursor:pointer;
    text-align:center;
    transform:translateY(150px);

    svg { width:2rem;}

    &.show {
        transform: translateY(0);
        transition: all 0.7s ease-in-out;
    }

    &.hide {
        // display:none;
        transform: translateY(180px);
        transition: all 0.5s ease-in-out;
    }
}

/*antdesign overrides*/
.ant-tooltip-placement-bottomLeft, .ant-tooltip-placement-bottomRight, .ant-tooltip-placement-bottom {
    padding-top: 0px !important;
    z-index: 1000 !important;
    
    &.ant-tooltip {
        line-height:initial !important;
    }
    
    .ant-tooltip-arrow {
        display:none !important;
    }

    .ant-tooltip-inner {
        background-color: rgba(125,125,125,0.5) !important;
        min-height:initial !important;
        padding:6px 12px !important;
        border-radius:100px !important;
    }
}

.ant-tooltip-placement-bottom {
    padding-top: 15px !important;
}

.ant-modal {
    // transform-origin:50% 50%;
    width:70vw !important;
    max-width:1000px;

    &-content {
        border-radius:15px !important;
    }

    &-body {
        font-size:calc($body - 2px) !important;
    }
}