body {
    font-style:normal;
    font-size:$body;
}

.en { font-family:"poppins", sans-serif; }
.ko { font-family:"SourceHanSansK", sans-serif; }

a {
    color: $cyan !important;

    &:hover {
        color: $blue !important;
    }
}

.ant-tooltip-placement-bottomLeft, .ant-tooltip-placement-bottomRight {
    padding-top: 0px !important;
    
    &.ant-tooltip {
        line-height:initial !important;
    }
    
    .ant-tooltip-arrow {
        display:none !important;
    }

    .ant-tooltip-inner {
        background-color: rgba(125,125,125,0.5) !important;
        min-height:initial !important;
        padding:6px 12px !important;
        border-radius:100px !important;
    }
}