body {
    font-style:normal;
}

.english {
    font-family:"poppins", sans-serif;
}

.korean {
    font-family:"SourceHanSansK", sans-serif;
}

.hero {
    width:90vw;
    height:90vh;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:96px;
    font-weight:300;
}